@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Product>
@using ContentModels = Umbraco.Web.PublishedModels;

@using Clean.Core.ViewModels
@using Clean.Core.Extensions
@using CleanShop.Core.Extensions
@using Vendr.Core

@{
    Layout = "master.cshtml";
}

@Html.Partial("~/Views/Partials/pageHeader.cshtml", new PageHeaderViewModel(Model.Name, Model.Title, Model.Subtitle, Model.MainImage))

<article>
    @Html.GetGridHtml(Model, "mainContent", "Clean", fluidImages: true)

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h2>@(Model.CalculatePrice()?.Formatted())</h2>
                                
                                @using (Html.BeginUmbracoForm("AddToCart", "CartSurface"))
                                {
                                    @Html.Hidden("productReference", Model.GetProductReference())

                                    <div class="input-group">
                                        @Html.TextBox("quantity", 1, new { @type="number", @class="form-control input-number"})
                                    </div>

                                    <div class="input-group-btn">
                                        <button class="btn btn-warning">Add to Cart <i class="fas fa-cart-plus"></i></button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>